enigmail-ar-0.96.0.xpi
enigmail-ca-AD-0.96.0.xpi
enigmail-cs-CZ-0.96.0.xpi
enigmail-de-0.96.0.xpi
enigmail-el-0.96.0.xpi
enigmail-es-ES-0.96.0.xpi
enigmail-fi-FI-0.96.0.xpi
enigmail-fr-FR-0.96.0.xpi
enigmail-hu-HU-0.96.0.xpi
enigmail-it-IT-0.96.0.xpi
enigmail-ja-JP-0.96.0.xpi
enigmail-ko-KR-0.96.0.xpi
enigmail-nb-NO-0.96.0.xpi
enigmail-nl-NL-0.96.0.xpi
enigmail-pl-PL-0.96.0.xpi
enigmail-pt-BR-0.96.0.xpi
enigmail-pt-PT-0.96.0.xpi
enigmail-ru-RU-0.96.0.xpi
enigmail-sl-SI-0.96.0.xpi
enigmail-sv-SE-0.96.0.xpi
enigmail-tr-TR-0.96.0.xpi
enigmail-zh-CN-0.96.0.xpi
enigmail-zh-TW-0.96.0.xpi
mozilla-thunderbird-enigmail-l10n-template.spec
